<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Accommodation Information</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  </head>
  <body>
    <!-- Init Data -->
    <div>
      <h1>초기값 생성</h1>
      <button type="button" onclick="initData()">초기값 생성 버튼</button>
    </div>

    <!-- Scenario 1 -->
    <div>
      <h1>검사항목 1</h1>

      <form id="accommodationForm">
        <label for="checkIn">체크인:</label>
        <input type="date" id="checkIn" required />

        <label for="checkOut">체크아웃:</label>
        <input type="date" id="checkOut" required />

        <label for="guests">인원:</label>
        <input type="number" id="guests" min="1" required />

        <label for="accommodationType">숙소 타입:</label>
        <select id="accommodationType" required>
          <option value="개인">개인</option>
          <option value="전체">전체</option>
        </select>

        <label for="sortType">정렬 타입:</label>
        <select id="sortType" required>
          <option value="normal">기본</option>
          <option value="price">가격</option>
          <option value="total">별점</option>
        </select>

        <button type="button" onclick="findAccoms()">검색</button>
      </form>

      <div id="accommodationInfo"></div>
    </div>

    <!-- Scenario 4 -->
    <div>
      <h1>검사항목 4</h1>

      <form id="rentalHistoryForm">
        <label for="guestSelect">게스트:</label>
        <select id="guestSelect" required>
          <option value="">게스트 선택</option>
        </select>

        <button type="button" onclick="findRentals()">검색</button>
      </form>

      <div id="rentalHistoryInfo"></div>
    </div>

    <script>
      /*************************************************************
       * init Data
       **************************************************************/
      async function initData() {
        try {
          const accomRes = await axios.post(
            `http://127.0.0.1:3000/accom/initAccom`
          );
          const guestRes = await axios.post(
            `http://127.0.0.1:3000/guest/initGuest`
          );

          if (accomRes.status === 200 && guestRes.status === 200) {
            await axios.post(`http://127.0.0.1:3000/rental/initRental`);
            await axios.post(`http://127.0.0.1:3000/review/initReview`);

            await fetchGuests();
          }
        } catch (e) {
          console.error(e);
        }
      }

      async function fetchGuests() {
        try {
          const response = await axios.get("http://127.0.0.1:3000/guest/getGuests");
          const guests = response.data;

          const guestSelect = document.getElementById("guestSelect");
          guests.forEach((guest) => {
            const option = document.createElement("option");
            option.value = guest._id;
            option.text = guest.name;
            guestSelect.add(option);
          });
        } catch (error) {
          console.error(error);
        }
      }

      document.addEventListener("DOMContentLoaded", async function () {
        await fetchGuests();
      });

      /*************************************************************
       * Scenario 1
       **************************************************************/
      async function findAccoms() {
        const checkInDate = document.getElementById("checkIn").value;
        const checkOutDate = document.getElementById("checkOut").value;
        const numberOfGuests = document.getElementById("guests").value;
        const accommodationType =
          document.getElementById("accommodationType").value;

        try {
          const response = await axios.get(
            `http://127.0.0.1:3000/accom/findAccoms/${numberOfGuests}/${accommodationType}`
          );
          const accoms = await Promise.all(
            response.data.map(async (accom) => {
              try {
                const totalPrice = await getTotalPrice({
                  checkIn: checkInDate,
                  checkOut: checkOutDate,
                  weekdayPrice: accom.weekdayPrice,
                  weekendPrice: accom.weekendPrice,
                });

                const avgRating = await axios.get(
                  `http://127.0.0.1:3000/review/getAvgRating/${accom._id}`
                );

                return { ...accom, totalPrice, avgRating: avgRating.data };
              } catch (e) {
                console.error(e);
              }
            })
          );

          const sortType = document.getElementById("sortType").value;
          if (sortType === "price") {
            accoms.sort((a, b) => a.totalPrice - b.totalPrice);
          } else if (sortType === "total") {
            accoms.sort((a, b) => b.avgRating - a.avgRating);
          }

          const infoContainer = document.getElementById("accommodationInfo");
          infoContainer.innerHTML = `
            <h2>숙소 검색 결과:</h2>
              ${accoms
                .map(
                  (accom) => `
                    <ul>
                      <li>${accom.name}(${accom.type})</li>
                      <li>총 가격: ${accom.totalPrice}</li>
                      <li>평균 별점: ${accom.avgRating}</li>
                    </ul>
                  `
                )
                .join("")}
                `;
        } catch (e) {
          console.error(e);
        }
      }

      const getTotalPrice = ({
        checkIn,
        checkOut,
        weekdayPrice,
        weekendPrice,
      }) => {
        const checkInDate = new Date(checkIn);
        const checkOutDate = new Date(checkOut);
        let totalPrice = 0;
        for (
          let date = checkInDate;
          date < checkOutDate;
          date.setDate(date.getDate() + 1)
        ) {
          const dayOfWeek = date.getDay();
          totalPrice +=
            dayOfWeek >= 1 && dayOfWeek <= 4 ? weekdayPrice : weekendPrice;
        }

        return totalPrice;
      };

      /*************************************************************
       * Scenario 4
       **************************************************************/
      async function findRentals() {
        const guestId = document.getElementById("guestSelect").value;

        try {
          const response = await axios.get(
            `http://127.0.0.1:3000/rental/getMyHistory/${guestId}`
          );
          const rentals = response.data;

          const infoContainer = document.getElementById("rentalHistoryInfo");
          infoContainer.innerHTML = `
            <h2>예약 정보:</h2>
              ${rentals
                .map(
                  (rental) => `
                    <ul>
                      <li>체크인 날짜: ${rental.checkInDate}</li>
                      <li>체크아웃 날짜: ${rental.checkOutDate}</li>
                      <button type="button" onclick="cancelRental('${rental._id}')">취소</button>
                    </ul>
                  `
                )
                .join("")}
                `;
        } catch (e) {
          console.error(e);
        }
      }

      const cancelRental = async (rentalId) => {
        try {
          const response = await axios.patch(
            `http://127.0.0.1:3000/rental/cancelRental/${rentalId}`
          );

          await findRentals();
        } catch (e) {
          console.error(e);
        }
      }
    </script>
  </body>
</html>
